body{
display: flex;
flex-direction: column;
margin: 0;
justify-content: space-between;
height: 100vh;
background-color: #b8cbd0cb;
font-family: 'Bookman', serif;
/* 
font-family: "Saira Extra Condensed", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji"; */

}

.ensemble{
    display: flex;
}

.center{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
}

.corps{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin:0% 5% 0% 5%;

}
.bandeau_haut{
    display: flex;
    margin: 0%  2% 0%  2%;
    justify-content: space-between;
    align-items: center;
    color: #344D59;


}

.rubrique{
    margin:6% 0% 6% 0%;
}
.container{

    flex-grow: 1;
}

.menu{
    display:flex;
    flex-direction: column;
    flex-grow: 1;
    width:300px;
    height: 100%;
    background-color: #137C8B;
    color: #344D59;
    font-weight: 700;
    justify-content: center;
    text-align: center;
    text-decoration: none;  
}

.menu li:hover {
    background-color: #B8CBD0;
    color: #344D59;
    border-color: #344D59;
}

a{
    text-decoration: none;  
}

.description{
    display: flex;
    flex-wrap: wrap;
}

.menu ul{
    list-style:none;
    padding: 0; 
}

.li_menu{
    border: 1px solid #fff;
    text-align: center;
    padding: 5%;
}

h1, .bottom{
    text-align: center;
}

#currentpage{
    background-color: #709CA7;
}

.photo{
    height:200px ;
    width:200px;
    border-radius: 60%;
    overflow: hidden; /* Cache les parties de l'image qui débordent */
    align-self: center;
    margin:2%;

}

.photo img {
    width: 100%;      /* L'image remplit entièrement le conteneur */
    height: auto;    
    object-fit: cover;
    margin-top: -20px;
    background-color: rgb(55, 55, 174);

}

h1,h2{
    color:#344D59;
}